<app-admin-nav></app-admin-nav>
<div style="background-color: rgb(215, 231, 247);height:1000px;">
<br/>
<br/>
<div>
    <h1 style="text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Customer List</h1>
</div>

<table class = "table table-striped table-bordered"
style="margin-top: 10px; margin-left:400px;width:600px;grid-auto-flow: unset;color:rgb(162, 228, 206)">
    <thead>
        <tr>
            
            
            <th class="design1"> Email Id </th>
            <th class="design1"> Actions </th>
        </tr>
    </thead>
    <tbody style="background-color: rgb(241, 245, 237);"> 
        <tr *ngFor = "let customer of customers" >
           
            <td style="font-family: 'Times New Roman', Times, serif;font-size:large;color:black"> {{ customer.email }} </td>
            <td>
                <!--&nbsp;&nbsp;&nbsp;&nbsp;<img (click) = "UpdateCustomer(customer.email)" src="../../../assets/image/edit1.png" style="margin-left: 10px;width:30px;height: 30px;">-->
                &nbsp;&nbsp;
                &nbsp;&nbsp;<img (click) = "CustomerDetails(customer.email)"  src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/2x/external-view-graphic-design-icongeek26-glyph-icongeek26.png" style="margin-left: 50px;width:50px;height: 40px;"> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <img (click) = "DeleteCustomer(customer.email)"  src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/2x/external-delete-multimedia-kiranshastry-solid-kiranshastry.png" style="margin-left: 40px;width:30px;height: 30px;">
                
            </td>
        </tr>
    </tbody>
</table>
</div>

