.button-edit {
  margin-left: 350px;
  border-radius: 0.75rem;
}

.link-edit {
  margin-left: 250px;
}

.img {
  width: 60px;
  height: 50px;
  border-radius: 1.25rem;
}

.colour {
  color: antiquewhite;
}
