<!-- Feel free to modify , add delete . Any updataion in welcomed-->

<!-- Code for search bar -->
<div class="container">
  <input type="text" placeholder="search a user here" />

  <!-- Code for Users list -->
  <table
    class="usertable"
    style="margin-top: 20px; margin-left: 350px; width: 600px"
  >
    <!-- Table for headings -->
    <tr
      class="lables"
      style="
        background-color: chocolate;
        max-width: fit-content;
        height: 50px;
        text-align: center;
      "
    >
      <th>Image</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>

    <br />

    <!-- User 1-->

    <tr style="background-color: grey; text-align: center">
      <td>
        <img
          src="../../../assets/image/libazz-fashion-blog-grid3.jpg"
          style="width: 90px; height: 90px; margin-top: 9px; margin-bottom: 9px"
        />
      </td>
      <td style="font-size: 20px">Alice Griffin</td>
      <td style="font-size: 20px">65</td>
      <td style="font-size: 20px">Male</td>
      <td>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger" style="margin-left: 5px">Delete</button>
      </td>
    </tr>

    <br />

    <!-- User 2-->

    <tr style="background-color: grey; text-align: center">
      <td>
        <img
          src="../../../assets/image/libazz-fashion-blog-grid3.jpg"
          style="width: 90px; height: 90px; margin-top: 9px; margin-bottom: 9px"
        />
      </td>
      <td style="font-size: 20px">Alice Griffin</td>
      <td style="font-size: 20px">65</td>
      <td style="font-size: 20px">Male</td>
      <td>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger" style="margin-left: 5px">Delete</button>
      </td>
    </tr>

    <br />

    <!-- User 3-->

    <tr style="background-color: grey; text-align: center">
      <td>
        <img
          src="../../../assets/image/libazz-fashion-blog-grid3.jpg"
          style="width: 90px; height: 90px; margin-top: 9px; margin-bottom: 9px"
        />
      </td>
      <td style="font-size: 20px">Alice Griffin</td>
      <td style="font-size: 20px">65</td>
      <td style="font-size: 20px">Male</td>
      <td>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger" style="margin-left: 5px">Delete</button>
      </td>
    </tr>
  </table>
</div>
