<div class="w-100 h-100">
    <app-customer-navbar></app-customer-navbar>
    <div class="my-4 d-flex flex-row justify-content-around">
        <div class="w-50 mx-5 d-flex">
            <input type="text" class="form-control mx-2" placeholder="Search Item" [(ngModel)]="searchValue" name="searchValue">
            <button class="btn btn-link btn-set" (click)="searchItem($event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card w-25 my-3 mx-5" *ngFor="let foodItem of foodItems">
            <div class="card-body ">
                <img src="{{foodItem.image}}"  alt="{{foodItem.name}}" class="card-img-top img-height">
                <h5 class="card-title">{{foodItem.name}}</h5>
                <p>{{foodItem.category}}</p>
                <div class="d-flex">
                    <p class="card-text w-75">{{foodItem.cost}}</p>
                    <button class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                    </button>
                </div> 
            </div>
        </div>
    </div>
</div>