<div class="w-100 h-100">
    <app-navbar></app-navbar>
    <div>
        <!-- Display value of addons  -->
        <div class="w-100 px-5 py-3">
            <button class="btn btn-danger">Add Addon</button>
        </div>
        <div class="w-100 d-flex flex-column align-items-center">
            <button *ngFor="let addon of addOns" class="btn btn-secondary w-75 d-flex flex-row justify-content-around my-2" (click)="onSelect(addon)">
                <p>{{addon.name}}</p>
                <p>{{addon.description}}</p>
                <p>{{addon.cost}}</p>
            </button>
        </div>
    </div>
</div>