<!--<a class="scroll-top" id="scroll"><span><i class="ti-arrow-up"></i></span></a>
<header class="landing-header navigation-menu" id="collapsibleNavbar">
    <div class="container">
        <div class="row ">
            <div class="col-xl-2 col-lg-2 col-md-3 col-5 d-flex align-items-center">
            
                <div class="mainlogo">
                    <a class="navbar-brand" href="javascript:void(0)">
                            <img src="assets/image/evento-logo.png" alt="logo" class="img-fluid header-logo">
                        </a>
                </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-9 col-7 button-padding d-flex align-items-center justify-content-end">
                <nav class="navbar sticky-top" id="navbar">
                    <button class="menu" type="button" id="nav-icon">
                            <span class="menu-icon text-white"></span>
                        </button>

                    <div class="navbar-collapse" id="navbar3">
                        <ul class="nav">
                            <li class="land-link">
                                <a href="#home" class="text-white active font-weight-600 scroll">Home</a>
                            </li>
                            <li class="land-link">
                                <a href="#about" class="text-white font-weight-600 scroll">About</a>
                            </li>
                            <li class="land-link">
                                <a href="#portfolio" class="text-white font-weight-600 scroll">Portfolio</a>
                            </li>
                            <li class="land-link">
                                <a href="#" class="text-white font-weight-600 scroll">Retirement Events</a>
                            </li>
                            <li class="land-link">
                                <a href="#" class="text-white font-weight-600 scroll">Book Events</a>
                            </li>
                            <li class="land-link">
                                <a href="#" class="text-white font-weight-600 scroll">View Booked Events</a>
                            </li>
                            <li class="land-link">
                             <a href="REGFORM/src/app.component.html" class="text-white font-weight-600 scroll">Sign Up/Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</header>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>