<app-admin-nav></app-admin-nav>
<div style="height:700px;">

<img
         
src={{theme.imageUrl}}
style="width: 500px; height: 320px; margin-top: 9px;margin-left: 420px;"
/>
<div style="background-color: rgb(245, 233, 233);width: 500px;margin-left: 425px;">
<br/>

<h1 style="text-align: center;color: rgb(39, 29, 30);height: 70px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Details :</h1>
<br/>
<div class="text-center" style="color: rgb(8, 8, 8);">
    <div >
        <label> <b>  Theme Name&nbsp;  &nbsp; &nbsp;: </b></label> &nbsp;  &nbsp; &nbsp;{{theme.themeName}}
    </div>
    <br/>
    <div>
        <label> <b> Photographer Name   &nbsp;  &nbsp; &nbsp;: </b></label>  &nbsp; {{theme.photographerDetails}}
    </div> 
    <br/>
    <div>
        <label> <b> Videgrapher Name &nbsp;  &nbsp; &nbsp;: </b></label> &nbsp;  &nbsp; &nbsp;{{theme.videographerDetails}}
       
    </div>
    <br/>
    <div>
        <label> <b> Return Gift &nbsp;  &nbsp; &nbsp;: </b></label> &nbsp;  &nbsp; &nbsp;{{theme.returnGift}}
    </div>
    <br/>
    <div>
        <label> <b> Theme Cost &nbsp;  &nbsp; &nbsp;: </b></label> &nbsp;  &nbsp; &nbsp;{{theme.themeCost}}
    </div>
    <br/>
    
    <div>
        <label> <b> Description &nbsp;  &nbsp; &nbsp;: </b></label> &nbsp;  &nbsp; &nbsp;{{theme.themeDescription}}
    </div>
    <br/>
    <br/>
</div>
</div>

