<section class="padding-80px-tb pt-0 portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-6 col-12 center-col text-center margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px wow fadeIn">
                <h3 class="heading font-weight-600 lg-title-medium md-title-medium sm-title-medium">Portfolio</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 filtering text-center wow fadeIn">
                <span data-filter="*" class="active">All</span>
                <span data-filter=".grid2">Tattersalls</span>
                <span data-filter=".list">Wedding</span>
                <span data-filter=".detail">Exclusively</span>
            </div>
        </div>
        <div class="gallery row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 items grid2 wow fadeIn">
                <div class="item-img active">
                    <!-- product start -->
                    <div class="column">
                        <!-- image & demo button start -->
                        <div class="land-img-shadow margin-bottom-15px">
                            <div class="land-template land-index" style="background-image:url(assets/image/oro-fashion-grid.jpg);"></div>
                        </div>
                        <!-- image & demo button end -->
                        <!-- page title start -->
                        <div class="product-text d-block text-center">
                            <a href="javascript:void(0)" class="font-weight-600">Ice Rinks</a>
                        </div>
                        <!-- page title end -->
                    </div>
                    <!-- product end -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 items grid2 wow fadeIn">
                <div class="item-img active">
                    <!-- product start -->
                    <div class="column">
                        <!-- image & demo button start -->
                        <div class="land-img-shadow margin-bottom-15px">
                            <div class="land-template land-index" style="background-image:url(assets/image/oro-fashion-grid-leftsidebar.jpg);"></div>
                        </div>
                        <!-- image & demo button end -->
                        <!-- page title start -->
                        <div class="product-text d-block text-center">
                            <a href="javascript:void(0)" class="font-weight-600">Specialists safety</a>
                        </div>
                        <!-- page title end -->
                    </div>
                    <!-- product end -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 items grid2 wow fadeIn">
                <div class="item-img active">
                    <!-- product start -->
                    <div class="column">
                        <!-- image & demo button start -->
                        <div class="land-img-shadow margin-bottom-15px">
                            <div class="land-template land-index" style="background-image:url(assets/image/oro-fashion-grid-rightsidebar.jpg);"></div>
                        </div>
                        <!-- image & demo button end -->
                        <!-- page title start -->
                        <div class="product-text d-block text-center">
                            <a href="javascript:void(0)" class="font-weight-600">Equipment Hirer</a>
                        </div>
                        <!-- page title end -->
                    </div>
                    <!-- product end -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 items list wow fadeIn">
                <div class="item-img active">
                    <!-- product start -->
                    <div class="column">
                        <!-- image & demo button start -->
                        <div class="land-img-shadow margin-bottom-15px">
                            <div class="land-template land-index" style="background-image:url(assets/image/oro-fashion-list.jpg);"></div>
                        </div>
                        <!-- image & demo button end -->
                        <!-- page title start -->
                        <div class="product-text d-block text-center">
                            <a href="javascript:void(0)" class="font-weight-600">Total Event</a>
                        </div>
                        <!-- page title end -->
                    </div>
                    <!-- product end -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 items list wow fadeIn">
                <div class="item-img active">
                    <!-- product start -->
                    <div class="column">
                        <!-- image & demo button start -->
                        <div class="land-img-shadow margin-bottom-15px">
                            <div class="land-template land-index" style="background-image:url(assets/image/oro-fashion-list-leftsidebar.jpg);"></div>
                        </div>
                        <!-- image & demo button end -->
                        <!-- page title start -->
                        <div class="product-text d-block text-center">
                            <a href="javascript:void(0)" class="font-weight-600">Chritsmas</a>
                        </div>
                        <!-- page title end -->
                    </div>
                    <!-- product end -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 items list wow fadeIn">
                <div class="item-img active">
                    <!-- product start -->
                    <div class="column">
                        <!-- image & demo button start -->
                        <div class="land-img-shadow margin-bottom-15px">
                            <div class="land-template land-index" style="background-image:url(assets/image/oro-fashion-list-rightsidebar.jpg);"></div>
                        </div>
                        <!-- image & demo button end -->
                        <!-- page title start -->
                        <div class="product-text d-block text-center">
                            <a href="javascript:void(0)" class="font-weight-600">Conferences</a>
                        </div>
                        <!-- page title end -->
                    </div>
                    <!-- product end -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 items detail wow fadeIn">
                <div class="item-img active">
                    <!-- product start -->
                    <div class="column">
                        <!-- image & demo button start -->
                        <div class="land-img-shadow margin-bottom-15px">
                            <div class="land-template land-index" style="background-image:url(assets/image/oro-fashion-detail.jpg);"></div>
                        </div>
                        <!-- image & demo button end -->
                        <!-- page title start -->
                        <div class="product-text d-block text-center">
                            <a href="javascript:void(0)" class="font-weight-600">Traumzeit Festival</a>
                        </div>
                        <!-- page title end -->
                    </div>
                    <!-- product end -->
                </div>
            </div>
        </div>
    </div>
</section>