<app-admin-nav></app-admin-nav>
<div style="height:700px;">
<br/>
<br/>
<br/>
<br/>
<div style="background-color: rgb(70, 2, 2);width: 500px;margin-left: 425px;">
<br/>

<h1 style="text-align: center;color: rgb(245, 239, 240);height: 70px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">View Customer</h1>
<br/>
<div class="text-center" style="color: rgb(193, 223, 223);">
    <div >
        <label> <b> Name&nbsp;  &nbsp; &nbsp;: </b></label> &nbsp;  &nbsp; &nbsp;{{customer.name}}
    </div>
    <div>
        <label> <b> Email Id   &nbsp;  &nbsp; &nbsp;: </b></label>  &nbsp; {{customer.email}}
    </div>
    <div>
        <label> <b> Address &nbsp;  &nbsp; &nbsp;: </b></label> &nbsp;  &nbsp; &nbsp;{{customer.address}}
       
    </div>
    <div>
        <label> <b> Phone No&nbsp;  &nbsp; &nbsp;: </b></label> &nbsp;  &nbsp; &nbsp;{{customer.phoneNo}}
    </div>
    <br/>
    <br/>
</div>
</div>

