<app-customer-nav></app-customer-nav>
<div style="background-color: rgb(215, 231, 247);height:1000px;">
  <div style="background-color: rgb(183, 183, 221);">
    <br />
    <p *ngIf="indicator">
      <button class="btn btn-success design" (click)="addReview(id)">Add Your Review</button>
      <button [disabled]=true class="btn btn-success designe" (click)="editReview(id)">Edit Your Review</button>
      <button [disabled]=true class="btn btn-success designd" (click)="deleteReview(id)">Delete Your Review</button>
    </p>
    <p *ngIf="!indicator">
      <button [disabled]=true class="btn btn-success design" (click)="addReview(id)">Add Your Review</button>
      <button class="btn btn-success design" (click)="editReview(id)">Edit Your Review</button>
      <button class="btn btn-success designd" (click)="deleteReview(id)">Delete Your Review</button>
    </p>

  </div>
  <div>
    <h1 style="text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Reviews </h1>
  </div>

  <table class="table table-striped table-bordered"
         style="margin-top: 10px; margin-left:400px;width:600px;grid-auto-flow: unset;color:rgb(162, 228, 206)">
    <thead>
      <tr>


        <th class="design1"> Email Id </th>
        <th class="design1"> Rating </th>
        <th class="design1"> Review Description </th>
        <th class="design1"> Date </th>


      </tr>
    </thead>
    <tbody style="background-color: rgb(241, 245, 237);">
      <tr *ngFor="let review of reviews">

        <td style="font-family: 'Times New Roman', Times, serif;font-size:large;color:black"> {{review.reviewBy }} </td>
        <td style="font-family: 'Times New Roman', Times, serif;font-size:large;color:black"> {{review.rating }} </td>
        <td style="font-family: 'Times New Roman', Times, serif;font-size:large;color:black"> {{review.reviewDes }} </td>
        <td style="font-family: 'Times New Roman', Times, serif;font-size:large;color:black"> {{review.dateTime}}</td>
      </tr>
    </tbody>
  </table>
</div>

