<section class="land-background-img" id="home">
    <div class="landing-page">
        <div class="landing-image">
            <div class="owl-carousel owl-theme" id="slider">
                <div class="item">
                    <!-- background image start -->
                    <div class="bg-img fullscreen" style="background-image:url('assets/image/event-slider1.jpg');">
                        <div class="carousel-caption">
                            <h2 class="text-tometo font-weight-600">Offers an outstanding</h2>
                            <span class="stun text-white">daytime and evening venue, exclusively to you for your event.</span>
                            <h3 class="text-white font-weight-600">
                                <span>With the highest standards</span>
                                <span class="text-tometo">Service and cuisine</span>
                            </h3>
                            <p class="text-white no-margin-bottom">ur team of dedicated staff will support and assist you</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- background image start -->
                    <div class="bg-img fullscreen" style="background-image:url('assets/image/event-slider2.jpg');">
                        <div class="carousel-caption">
                            <h2 class="text-tometo font-weight-600">Planning stage to being in attendance</h2>
                            <span class="stun text-white">We pride ourselves on offering a bespoke service to ensure</span>
                            <h3 class="text-white font-weight-600">
                                <span>Throughout the event</span>
                                <span class="text-tometo">Event meets your specific</span>
                            </h3>
                            <p class="text-white no-margin-bottom">Events of all sizes can be accommodated, from 20 – 600 people and with a variety of rooms</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- background image start -->
                    <div class="bg-img fullscreen" style="background-image:url('assets/image/event-slider3.jpg');">
                        <div class="carousel-caption">
                            <h2 class="text-tometo font-weight-600">Available you have the flexibility</h2>
                            <span class="stun text-white">Stunning Homepages With Well Designed Innerpages</span>
                            <h3 class="text-white font-weight-600">
                                <span>Style and format</span>
                                <span class="text-tometo">Powerful Admin</span>
                            </h3>
                            <p class="text-white no-margin-bottom">“Thank you so much for all your help and support for our</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-down navigation-menu">
                <a href="#about" class="icon-scroll scroll"></a>
            </div>
            <!-- title end -->
        </div>
    </div>
</section>