<ng-template #content let-modal>
    <div class="container">
        <div class="row">
          <div class="card">
            <div class="text-center">
              <h1>Delete Theme</h1>
            </div>
            <form>
                <div class="form-group">
                  <label for="theme-id">Theme Id</label>
                  <input type="text" class="form-control" id="theme-id" aria-describedby="emailHelp" placeholder="Enter Theme id" [(ngModel)]="themeId" name="themeName">  
                </div>
            </form>
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Add Theme</button>
    </div>
  </ng-template>
  
  <button class="btn btn-light btn-lg btn-outline-secondary" (click)="open(content)">Delete Theme</button>
  
  
  <pre>{{ closeResult }}</pre>